<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="dropdown-item-text">
    <div id="opinion-system-informations" class="display-none">{info -> f:format.json()}</div>

    <div id="opinion-approve-contents">
        <div id="opinion-data"></div>
    </div>

    <div id="opinion-textarea" class="opinion-form opinion-form-group">
        <label for="opinion-message" class="opinion-form opinion-form-label"><f:translate key="LLL:EXT:opinion/Resources/Private/Language/locallang_be.xlf:message">Message</f:translate></label>
        <textarea class="form-control sf-opinion opinion-form opinion-form-textarea" name="message" id="opinion-message"></textarea>
    </div>

    <button class="btn btn-primary sf-reset opinion-be" id="opinion-send" data-action=""><f:translate key="LLL:EXT:opinion/Resources/Private/Language/locallang_be.xlf:send">Send</f:translate></button>
</div>

</html>
