<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:layout name="Email" />

    <f:section name="Title">Wienxtra Bildungschancen Feedback</f:section>
    <f:section name="Intro">Es wurde Feedback zur Seite {opinion.document.uri} gegeben.</f:section>
    <f:section name="Screenshot">{hasScreenshot}</f:section>
    <f:section name="Message">{opinion.message}</f:section>

    <f:section name="Content">
        <f:render section="Heading" arguments="{title: 'General Data'}" />
        <f:render section="Row" arguments="{column : 'Date', value : '{opinion.time -> f:format.date(format: \'d.m.Y H:i:s\')}'}" />
        <f:render section="Row" arguments="{column : 'User', value : '{opinion.beuser.user.username}'}" />

        <f:render section="Heading" arguments="{title : 'Browser', spacer: 1}" />
        <f:render section="Row" arguments="{column : 'appCodeName', value: '{opinion.browser.appCodeName}'}" />
        <f:render section="Row" arguments="{column : 'appName', value: '{opinion.browser.appName}'}" />
        <f:render section="Row" arguments="{column : 'appVersion', value: '{opinion.browser.appVersion}'}" />
        <f:render section="Row" arguments="{column : 'plattform', value: '{opinion.browser.plattform}'}" />
        <f:render section="Row" arguments="{column : 'language', value: '{opinion.browser.language}'}" />
        <f:render section="Row" arguments="{column : 'userAgent', value: '{opinion.browser.userAgent}'}" />
        <f:render section="Row" arguments="{column : 'vendor', value: '{opinion.browser.vendor}'}" />

        <f:render section="Heading" arguments="{title : 'Document', spacer: 1}" />
        <f:variable name="uri">{f:link.typolink(parameter: '{opinion.document.uri}', absolute: 'true')}</f:variable>
        <f:render section="Row" arguments="{column : 'Uri', value: '{uri}'}" />

        <f:if condition="{opinion.page.backend} === true">
            <f:then>
                <f:render section="Row" arguments="{column : 'pageUid', value: '{opinion.page.pageUid}'}" />
            </f:then>
            <f:else>
                <f:render section="Row" arguments="{column : 'pageUid', value: '{opinion.page.pageUid}'}" />
                <f:render section="Row" arguments="{column : 'pageType', value: '{opinion.page.pageType}'}" />
                <f:render section="Row" arguments="{column : 'noCache', value: '{opinion.page.noCache}'}" />
                <f:render section="Row" arguments="{column : 'countUserInt', value: '{opinion.page.countUserInt}'}" />
                <f:render section="Row" arguments="{column : 'totalParsetime', value: '{opinion.page.totalParsetime}'}" />
                <f:render section="Row" arguments="{column : 'imagesOnPage', value: '{opinion.page.imagesOnPage.total} / {opinion.page.imagesOnPage.totalSize}'}" />
                <f:render section="Row" arguments="{column : 'documentSize', value: '{opinion.page.documentSize}'}" />
            </f:else>
        </f:if>

        <f:render section="Heading" arguments="{title : 'Display Informations', spacer: 1}" />
        <f:if condition="{opinion.display.breakpoint} !== ''">
            <f:render section="Row" arguments="{column : 'Breakpoint', value: '{opinion.display.breakpoint}'}" />
        </f:if>
        <f:render section="Row" arguments="{column : 'Display Width x Height', value: '{opinion.display.width} x {opinion.display.height}'}" />

        <f:render section="Heading" arguments="{title : 'Cookies', spacer: 1}" />
        <f:render section="Array" arguments="{ array : '{opinion.cookies}'}" />

    </f:section>


    <f:section name="Heading">
        <f:if condition="{spacer}">
            <tr><td colspan="2">&nbsp;</td></tr>
        </f:if>
        <tr>
            <th align="left" colspan="2" style="border-bottom: 1px solid #000; background-color: #000; color: #fff;">{title}</th>
        </tr>
    </f:section>

    <f:section name="Row">
        <tr>
            <th align="left" width="30%">{f:translate(key: 'email.{column}', default: '{column}')}</th>
            <td>{value -> f:format.raw()}</td>
        </tr>
    </f:section>

    <f:section name="Array">
        <tr>
            <td colspan="2">
                <ul>
                    <f:for each="{array}" as="v" key="k">
                        <li>{k}: {v}</li>
                    </f:for>
                </ul>
            </td>
        </tr>
    </f:section>


</html>
